body {
  text-align: center;
  overflow: hidden;
}

h1 {
  color: black;
  font-size: 3em;
}

a {
  text-decoration: none;
  margin: 0px 10px;
  color: grey;
}

.form-add {
  margin-top: 20px;
}

.form-add > label {
  margin-right: 10px;
  font-size: 1.2em;
}

.gif {
  position: absolute;
  bottom: 15vh;
  display: flex;
  min-width: 100vw;
  justify-content: center;
}
.gif > img {
  border-radius: 10px;
}

.weather-app {
  margin-top: 20px;
  font-size: 1.2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 4px 4px 8px rgba(150, 150, 150, 1);
}

footer {
  position: absolute;
  bottom: 10vh;
  display: flex;
  min-width: 100vw;
  justify-content: center;
  font-size: 1.2em;
}

.hearts {
  color: red;
  margin: 0px 5px;
  animation: beat 1s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
